<%- model_class = Team -%>

  <div class="page-header">

    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

  </div>

  <table class="table table-striped">

    <thead>

      <tr>

        <th><%= model_class.human_attribute_name(:title) %></th>

        <th><%= model_class.human_attribute_name(:details) %></th>

        <th><%= model_class.human_attribute_name(:expected_completion_date) %></th>

        <th><%=t '.actions', :default => t("helpers.actions") %></th>

      </tr>

    </thead>

    <tbody>

      <% @teams.each do |team| %>

        <tr>

          <td><%= link_to team.title, tenant_team_path(team, tenant_id: @tenant.id), class: 'main-link' %></td>

          <td><%= team.details %></td>

          <td><%= team.expected_completion_date %></td>

          <td>

            <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_tenant_team_path(team, tenant_id: @tenant.id), :class => 'btn btn-default btn-xs' %>

            <%= link_to 'Edit Users', users_tenant_team_path(team, tenant_id: @tenant.id), :class => 'btn btn-default btn-xs' %>

            <%= link_to t('.destroy', :default => t("helpers.links.destroy")), tenant_team_path(team, tenant_id: @tenant.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class
            => 'btn btn-xs btn-danger' %>

          </td>

        </tr>

      <% end %>

    </tbody>

  </table>

  <%= link_to 'New team', new_tenant_team_path(tenant_id: @tenant.id), :class => 'btn btn-primary' %>
