<%- model_class = Project -%>

  <div class="col-md-3 project-entry-wrap">
    <h3>Future</h3>

    <% if @projects.size > 0 %>
      <% @projects.each do |project| %>
        <div class="row">
          <%= link_to tenant_project_path(project, tenant_id: @tenant.id), :class => 'project-single-entry-link' do %>
          <div class="col-md-12 project-single-entry">
            <div class="row">
              <div class="col-md-6">
                <p>priority</p>
              </div>

              <div class="col-md-6">
                <ul class="project-single-entry-ul">
                  <li>
                    <span id="clock-icon"></span></li>
                  <li>12 Sept</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4></h4>
                <p><%= project.title %></p>
              </div>
            </div>
          </div>
        <% end %>
        <% if (@tenant.can_create_projects?) %>

          <%= link_to 'New Project', new_tenant_project_path(tenant_id: @tenant.id), :class => 'btn btn-primary btn-new-task' %>

        <% end %>
      </div>

      <!-- <td><%= project.details %></td> <td><%= project.expected_completion_date %></td> -->

    <% end %>
  <% else %>
    <p class="lead">You don't have any Tasks</p>

  <% end %>

  <% if (@tenant.can_create_projects?) %>

    <%= link_to 'New Task', new_tenant_project_path(tenant_id: @tenant.id), :class => 'btn btn-primary btn-new-task' %>

  <% end %>
