<!DOCTYPE html>
<html>
  <head>
    <title>Holla!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to('Holla', root_path, class: 'navbar-brand', title: 'brand') %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if current_user %>

            <li class="nav-item active user-name">

              <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>

            </li>

            <li class="nav-item logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>

          <% else %>

          <li class="nav-item">

            <%= link_to('Pricing', new_user_session_path, class: 'nav-link', title: 'Pricing') %>

          </li>
            <li class="nav-item">

              <%= link_to('Sign In', new_user_session_path, class: 'nav-link', title: 'Sign In') %>

            </li>
            <li class="nav-item">

              <%= link_to('Sign Up - Its Free!', new_user_registration_path, class: 'btn btn-primary', title: 'Sign Up') %>
            </li>

          <% end %>
          <% if current_user %>

            <li>

              <%= link_to "<i class='fa fa-users'></i> Add Members".html_safe, new_member_path, class: 'navbar-link btn btn-primary' %>

            </li>

          <% end %>
        </ul>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
